name: npm PR checks

# on:
#   pull_request:
#   push:
#     branches: master

on: workflow_call

jobs:
  npm-pr-checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup node.js
      uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install dependencies
      run: |
        if [[ -f yarn.lock ]]; then
          # https://yarnpkg.com/cli/install#examples
          yarn install --immutable --immutable-cache --check-cache
        elif [[ -f package-lock.json ]]; then
          npm ci
        elif [[ -f pnpm-lock.yaml ]]; then
          pnpm install
        else
          echo "error: Lock file not found."
          exit 1
        fi
    - name: Lint
      run: npm run lint
    - name: Build
      run: npm run build
    - name: Run tests (if present)
      run: npm run test --if-present
    - name: Ensure Built
      run: |
        git status
        [[ -z $(git status --porcelain) ]] || exit 1
